# arsenals sepolicy
# read fps
allow platform_app sysfs_graphics:file { read open };
# read battery info
allow platform_app sysfs_battery_supply:dir { search };
allow platform_app sysfs_battery_supply:file { read open getattr };
# read gpu info
allow platform_app sysfs_kgsl:file { read open getattr };
allow platform_app sysfs_kgsl_gpuclk:file { read open getattr };
